
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="images/favicon.png" rel="icon" />
<title>CAL -TBILLS</title>
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
======================= -->

<!-- Stylesheet
======================= -->
<link rel="stylesheet" type="text/css" href="/assets/apps/tbills/invoicebootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/assets/apps/tbills/all.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/apps/tbills/styles.css"/>
 <link rel="stylesheet" href="/assets/css/custom.css" type="text/css">
</head>
<body>
<!-- Container -->

<div class="container-fluid invoice-container">



{{{body}}}
  

  
  <!-- Footer -->
  <footer class="mt-4">
  <p class="text-1"><strong>NOTE :</strong> Please notify CAL Bank at least one week before maturity if you wish to make changes to your initial instructions.</p>
  <div class="btn-group btn-group-sm d-print-none"> <a href="javascript:window.print()" class="btn btn-warning border text-black-50 shadow-none">Print</a></div>
  </footer>
</div>
</body>
</html>