
<!DOCTYPE html>
<html>

<head>
    <title>Table Example</title>
</head>

<body>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }
    </style>

    <h1>KEY PROJECT WEEKLY DELIVERABLES</h1>
<h2>Resource Planning</h2>

    <div id="data-table">
        <table id="html-data-table">
            <tr>
                <th>Project/Task</th>
                <th>Scope/Description</th>
                <th>Resource</th>
                <th>Due Date</th>
                <th>RAG Status</th>
            </tr>
            <tr>
                <td>Snap Cash</td>
                <td>Complete the 3-developments/fixes to remediate repayment challenges</td>
                <td>Emmanuel Adu-Asare & Richard Baffoe</td>
                <td>Thursday 10th March, 2022</td>
                <td bgcolor="Yellow">50%</td>
            </tr>
            <tr>
                <td>CBIMS upgrade</td>
                <td>Prepare the environment to Ernie's Testing to begin</td>
                <td>Divine</td>
                <td>Wednesday 9th March, 2022</td>
                <td bgcolor="Red">10%</td>
            </tr>
 <tr>
                <td>CalBank App Deployment to Store (oogle/iOS)</td>
                <td>Prepare migration of 11 services for Testing by Thursday, ready for deployment by Weekend</td>
                <td>Divine</td>
                <td>Thursday 10th March, 2022</td>
                <td bgcolor="Yellow">50%</td>
            </tr>
 <tr>
                <td>eCedi (CBDC Project)</td>
                <td>SDK development efforts for Thursday update</td>
                <td>Mathias</td>
                <td>Thursday 10th March, 2022</td>
                <td bgcolor="Red">10%</td>
            </tr>
 <tr>
                <td>Premium Collections</td>
                <td>Stakeholders review-Wed 9th & Insurance review-Thurs 10th</td>
                <td>Asare</td>
                <td>Thursday 10th March, 2022</td>
                <td bgcolor="Yellow">70%</td>
            </tr>
 <tr>
                <td>Loyalty Mgt sys (MARKET PLACE)</td>
                <td>Complete development of Market Place</td>
                <td>Divine & Adu-Asare</td>
                <td>Tuesday 15th March, 2022</td>
                <td bgcolor="Red">10%</td>
            </tr>
        </table>    
    </div>

</body>

</html>
